<app-navigation></app-navigation>
<nav id="sidebar" class="carrito-de-compras wrapper">
    <h2>Carrito de compras</h2>
    <p>Estos son los articulos que vas a comprar</p>
    <button class="btn-success" value="submit">Terminar Compra</button>

</nav>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-black initial-content">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">
            <img src="assets/img/logo.png" alt="logo garabato regalos">
            <br> {{title | uppercase}}</h1>

        <p class="lead font-weight-normal">
            Nuestras alcancías no solo te ayudaran a ahorrar si no que son objetos decorativos con mucha personalidad...
        </p>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<section class="container real-content ">
    <div class="text-center bg-black row justify-content-md-center">
        <div class="col-sm-12">

            <h5 class="display-5">
                Nuevos Productos
            </h5>

        </div>
        <app-products></app-products>


    </div>

</section>
<section>


</section>


<app-footer></app-footer>