<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a href="#" class="py-2">
            <img src="assets/img/logo.png" alt="logo" class="logo" style="width:30px;height:30px;">

        </a>
        <!--
        <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Cart </a>

-->

    </div>
</nav>